@import '~office-ui-fabric-react/dist/sass/References.scss';


@font-face {
    font-family: MontserratBold;
    src: url(https://silalsb.sharepoint.com/sites/Playground/SiteAssets/Silal%20Dev%20Docs/Brand%20Font/English/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'MontserratLight';
    src: url("https://silalsb.sharepoint.com/sites/Playground/SiteAssets/Silal%20Dev%20Docs/Brand%20Font/English/Montserrat-Light.ttf") format("truetype")
}

@font-face {
    font-family: 'MontserratMedium';
    src: url("https://silalsb.sharepoint.com/sites/Playground/SiteAssets/Silal%20Dev%20Docs/Brand%20Font/English/Montserrat-Medium.ttf") format("truetype")
}

@font-face {
    font-family: MontserratRegular;
    src: url(https://silalsb.sharepoint.com/sites/Playground/SiteAssets/Silal%20Dev%20Docs/Brand%20Font/English/Montserrat-Regular[1].ttf)
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url("https://silalsb.sharepoint.com/sites/Playground/SiteAssets/Silal%20Dev%20Docs/Brand%20Font/English/Montserrat-SemiBold.otf")
}

* {
    font-family: MontserratRegular;
}



.numberCircle {
    border-radius: 50%;
    width: 60px;
    height: 45px;
    padding: 10px 1px 1px;
    background: #3a8071;
    border: 2px solid #3a8071;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 30px 10px 0 0;
}

/*sharepoint css , later to be remove when done with sharepoint designer*/

.ms-rtestate-field p,
p.ms-rteElement-P {
    margin: 0px;
}

.ms-fullscreenmode #contentBox {
    margin-left: 0px !important;
}

#s4-bodyContainer {
    padding-bottom: 0px !important;
}

#contentBox {
    margin-right: 0px !important;
    margin-left: 0px !important;
    min-width: 0px !important;
}

#contentRow {
    padding-top: 0px !important;
}

#pageStatusBar,
.ms-webpart-chrome-title {
    display: none !important;
}

#s4-workspace {
    widht: 100% !important;
}

.ms-rtestate-field {
    padding-right: 0px !important;
}

/*end sharepoint css*/

.top-user {
    padding-top: 40px;
    padding-bottom: 15px;
}

.header1 {
    font-family: 'MontserratBold';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #13433D;
    padding-bottom: 15px;
}

.header2 {
    font-family: 'MontserratBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #13433D;
    padding-bottom: 15px;
    padding-top: 35px;
}

.viewAll {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #449282;
    margin-left: auto;
    padding-top: 40px;
}


.quick-card {
    height: 165px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(19, 67, 61, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.erp-card {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(19, 67, 61, 0.1);
    border-radius: 8px;
    color: black;
    padding: 30px;
    height: 351px;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Quick_links_home {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(19, 67, 61, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.userName,
#userName {
    font-family: 'MontserratBold';
    line-height: 1 !important;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #13433D;
}

.home-card {
    height: 115px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(19, 67, 61, 0.1);
    border-radius: 8px;
    padding: 15px 5px 5px 15px;
}

.home-card-top {
    font-family: 'MontserratBold';
    line-height: 1 !important;
    font-style: normal;
    font-size: 20px;
    /*font-weight: 700;
  font-size: 30px;
  line-height: 32px;*/
    color: #13433D;
}

.home-card-bottom {
    font-family: 'MontserratBold';
    line-height: 1 !important;
    font-style: normal;
    font-size: 20px;
    /*font-weight: 700;
  font-size: 20px;
  line-height: 28px;*/
    color: #13433D;
}

#currectDate {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4A4A4A;
}

.contactList {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #449282;
}

.nav-link {
    color: #4A4A4A !important;
}

.topBar,
.footer-style {
    background: #3A8071;
    flex-direction: row;
    display: block;
}

.topbar-end-img {
    /*float: left;*/
}

h3 {
    color: #13433D;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    padding-top: 30px;
}

h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #13433D;
}

h5:hover {
    text-decoration: none;
}

.h5-tag {
    padding: 20px 0px 7px 0px;
}

.topbar-start-img {
    padding: 1% 1% 1% 3%;
    width: 203px;
    height: 93px;
}

.navbarStyle {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(19, 67, 61, 0.1);
    padding: 1rem 1rem;
}

.nav-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.department-content {
    background: #ffffff;
}

.emergency-content {
    background: #F2F5F6;
    padding: 6% 2% 0% 3%;
}

.depart-eme {
    background: #FFFFFF;
    border: 1px solid #D0D9D8;
    border-radius: 8px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 8px;
}

.top-element {
    font-weight: 600;
    font-size: 16px;
    padding: 20px 0px 0px 10px;
}

.bottom-element {
    font-weight: 400;
    font-size: 14px;
    padding: 1px 0px 0px 10px;
    margin-top: -20px;
    color: #A4A4A4;
}

.navigation-path {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A4A4A4;
    padding-top: 5%;
    padding-bottom: 2%;
}

.footer-style {
    padding: 25px;
    color: #FFFFFF;
    display: flex;
}

.footer-1 {
    padding-left: 1%;
    margin-bottom: 0;
    font-size: 14px;
}

.footer-2 {
    padding-left: 63%;
    margin-bottom: 0;
    font-size: 16px;
}

#userpic {
    position: relative;
    top: 10px;
    right: 20px;
    border-radius: 50%;
}

#DepartmentHeadPic {
    position: relative;
    top: 18px;
    right: 8px;
    border-radius: 50%;
    margin-left: 14px;
}

.notification-img {
    position: absolute;
    right: 110px;
    top: 55px;
}

.notification-bell {
    position: absolute;
    right: 125px;
    top: 70px;
}

.people-pic {
    position: absolute;
    right: 10px;
    top: 55px;
    border-radius: 50%;
}

.centerPages {
    padding-left: 15%;
    padding-right: 15%;
}

.PryrIcon {
    width: 30px !important;
}

.PryrName {
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 24px;
    color: #3A8071 !important;
    padding-top: 25px !important;
}

.PryrTime {
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 24px;
    color: #A4A4A4 !Important;
    padding: 19px !important;
    text-align: right;
}

.prayerTop {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(19, 67, 61, 0.1);
    border-radius: 8px;
}

.table td,
.table th {
    padding: 0.25rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.pollQuestion {
    background: #FFFFFF;
    backdrop-filter: blur(2px);
    border-radius: 8px;
}

.pollAwnsers {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(19, 67, 61, 0.1);
    border-radius: 8px;
    padding: 30px;
}

.pollSubmit {
    color: #3A8071;
    text-decoration: underline;
    cursor: pointer;
}

#poll1,
#poll2,
#poll3,
#poll4 {
    margin-top: -16px;
    margin-right: 10px;
}

.surveyText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
    /*position: absolute;*/
}

.surveyHead {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    /*position: absolute;*/
}

.surveyButton {
    background: #3A8071;
    border-radius: 21px;
    padding: 10px;
    text-decoration: none;
    color: #014446;
    /*position: absolute;*/
}

.surveyMain {
    background-color: #3c2720;
    text-align: center;
    padding: 30px;
    background-image: url('https://silalsb.sharepoint.com/sites/Playground/SiteAssets/images/SilalSurvey.png');
    padding-top: 80px;
    padding-bottom: 90px;
    border-radius: 8px;
}

h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #13433D;
}

.Announcements_top {
    display: flex;
    padding-right: 15px;
}

.SilalAnonucements {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(19, 67, 61, 0.1);
    border-radius: 8px;
    height: 321px;
}

.Announcements {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #3A8071;
    padding-left: 15px;
}

.FamilyImg {
    width: 100%;
    height: 321px;
    border-radius: 8px;
}

.whatWeDo1,
.whatWeDo2,
.whatWeDo3 {
    padding-top: 10px;
}

.card {
    box-shadow: 0px 2px 10px rgba(19, 67, 61, 0.1);
    border-radius: 8px;
    overflow: hidden;
    height: 450px;
}

.card-image {
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    /*border-radius: 8px 8px 0px 0px;*/
}

.card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4A4A4A;
    padding: 10px;
    line-height: 1.4;
}

.card-header-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px !important;
    color: #3A8071 !important;
    margin: 10px;
}

.card-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A4A4A4;
    padding: 10px;
}

ul#example {
    list-style: none;
    margin: 50px 0;
    padding: 0;
    display: block;
    text-align: center;
}

ul#example li {
    display: inline-block;
}

ul#example li span {
    font-size: 80px;
    font-weight: 300;
    line-height: 80px;
}

ul#example li.seperator {
    font-size: 80px;
    line-height: 70px;
    vertical-align: top;
}

ul#example li p {
    color: #a7abb1;
    font-size: 25px;
}

.Silal_projects {
    width: 100%;
    height: 351px;

    background-position: center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.demo {
    font-family: 'MontserratBold';
    line-height: normal;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 25%;
    /* right: 1%; */
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 900;
}

.bottom_launch,
.top_launch {
    line-height: normal;
    text-align: center;
    position: absolute;
    color: #FFFFFF;
}

.top_launch {
    font-family: 'MontserratBold';
    top: 30%;
    left: 14%;
    font-size: 23px;

}

.bottom_launch {
    font-family: 'MontserratRegular';
    top: 40%;
    left: 14%;
    font-size: 20px;
}

.Img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_center {
    padding-top: 5px;
    line-height: normal;
    text-align: center;
}

#rightAns {
    color: rgb(19, 67, 61);
    font-family: 'MontserratBold';
}

#wrongAns {
    color: red;
    font-family: 'MontserratBold';
}

#PleaseSelect {
    color: red;
    font-family: 'MontserratBold';
}

.input-text {
    height: 50px;
    border-radius: 50px;
    border: solid 1px white !important;
    background-color: #008273 !important;
    width: 100%;
    color: white !important;
    padding-left: 20px !important;
}

.search-form {
    position: absolute;
    right: 20%;
    top: 23px;
    width: 35%;
}

.search-img {
    position: absolute;
    right: 10%;
    top: 12px;
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.navbar {
    overflow: hidden;
    color: #4A4A4A !important;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgb(19 67 61 / 10%);
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 16px;
    padding-left: 80px;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: #4A4A4A !important;
    text-align: center;
    text-decoration: none;

    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 16px;
    padding-left: 80px;
}

.dropdown {
    float: left;
    overflow: hidden;

    padding-right: 30px;
    padding-left: 80px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #4A4A4A !important;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #4A4A4A !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*.dropdown-content a:hover {
  background-color: #ddd;  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar
}*/

.dropdown:hover .dropdown-content {
    display: block;
}

.link {
    text-decoration: none;
    background-color: transparent;
    color: #4A4A4A !important;
}

.event-card {
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    color: black;

    min-height: 130px;
    max-height: 220px;
    padding: 10px;
    margin: 5px;
}

.blink {
    text-decoration: none;
    background-color: transparent;
    color: #A4A4A4 !important;
}

.eventMainContainer {
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    color: black;
    height: 321px;
    padding: 10px;
    margin: 5px;
}


.eventContainer {
    padding: 2px;
}

.eventItem {
    text-decoration: none;
    background-color: transparent;
    color: #4A4A4A !important;
}